body{
  background-color: #416AE2;
}

.card{
  background-color: white;
  width: 25%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  border-radius: 8px;
}

.card-container{
  display: flex;
}

.card > p{
  margin-top: 0;
}

input{
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  width: 20%;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

h4{
  background-color: red;
  color: white;
  padding: .5em;
  border-radius: 8px;
  width: 20em;
  margin: .5em;
}